---
import open from "../../icons/openNav.svg";
import close from "../../icons/closeNav.svg";
import ThemeIcon from "./ThemeIcon.astro";
import coffeeEmpty from "../../icons/coffeeEmpty.svg";
import coffeeFull from "../../icons/coffeeFull.svg";
import githubBlue from "../../icons/githubBlue.svg";
import githubBlack from "../../icons/githubBlack.svg";
---

<div
	class="[view-transition-name:menu] mx-auto right-6 top-6 fixed z-50 text-[--darkblue] hidden md:block">
	<div
		class="size-9 relative bg-[--lightblue] transition-all rounded-md group text-[--darkblue]">
		<label for="nav-toggle" class="cursor-pointer group">
			<input
				type="checkbox"
				id="nav-toggle"
				class="cursor-pointer hidden"
			/>
			<img
				src={open.src}
				alt="Open menu"
				id="open"
				class="transition-all absolute group-hover:scale-105 group-active:scale-90 opacity-100"
			/>
			<img
				src={close.src}
				alt="Close menu"
				id="close"
				class="transition-all absolute group-hover:scale-105 group-active:scale-90 opacity-0 scale-100"
			/>
		</label>
	</div>
	<nav
		id="menu"
		class="bg-[--lightblue] rounded-md p-4 rounded-tr-none transition-transform duration-300 menu-closed absolute top-8 right-0 w-[245px] z-40 shadow-md">
		<ul
			class="absulute inset-0 flex flex-col justify-center items-start w-full h-full">
			<li class="transition-colors group w-full flex items-center m-0">
				<ThemeIcon />
			</li>
			<li class="m-0 flex items-start w-full">
				<a
					href="https://github.com/ezestom/aprenderainvertir"
					target="_blank"
					rel="noopener noreferrer"
					class="transition-colors group w-full flex gap-2 hover:bg-[--darkblue] py-2 px-3 rounded-md">
					<span
						class="group-hover:scale-105 transition duration-300 ">
						<img
							src={coffeeFull.src}
							alt=""
							class="absolute w-5 opacity-0 group-hover:opacity-100 transition duration-300 drop-shadow-md"
						/>
						<img
							src={coffeeEmpty.src}
							alt=""
							class="w-5 group-hover:scale-110 opacity-100 transition duration-300 drop-shadow-md"
						/>
					</span>
					<span
						class="whitespace-nowrap font-semibold transition-colors text-sm group-hover:text-[--lightblue] w-full"
						>Invitar un Cafecito
					</span>
				</a>
			</li>
			<li class="m-0 flex items-start w-full">
				<a
					href="https://github.com/cosmoart/Freesets"
					target="_blank"
					rel="noopener noreferrer"
					class="transition-colors group w-full flex gap-2 hover:bg-[--darkblue] py-2 px-3 rounded-md">
					<span
						class="group-hover:scale-105 transition duration-300 gap-2 group-hover:drop-shadow-md">
						<img
							src={githubBlack.src}
							alt=""
							class="absolute w-5 opacity-0 group-hover:opacity-100 group-hover:scale-105 transition-all"
						/>
						<img
							src={githubBlue.src}
							alt=""
							class="w-5 group-hover:scale-105 opacity-100 group-hover:opacity-0 transition-all"
						/>
					</span>
					<span
						class="whitespace-nowrap font-semibold transition-colors text-sm group-hover:text-[--lightblue]"
						>Contribuir al Proyecto</span
					>
				</a>
			</li>
		</ul>
	</nav>
</div>

<script>
	const toggleMenu = () => {
		const navToggle: HTMLInputElement | null =
			document.querySelector("#nav-toggle");
		const menu: HTMLElement | null = document.querySelector("#menu");
		const open: HTMLImageElement | null = document.querySelector("#open");
		const close: HTMLImageElement | null = document.querySelector("#close");

		if (navToggle && menu && open && close) {
			if (navToggle.checked) {
				menu.classList.remove("menu-closed");
				menu.classList.add("menu-open");
				open.style.opacity = "0"; // Oculta imagen de apertura
				close.style.opacity = "1"; // Muestra imagen de cierre
				navToggle.classList.remove("menu-closed"); // Remueve la clase menu-closed de navToggle
			} else {
				menu.classList.remove("menu-open");
				menu.classList.add("menu-closed");
				open.style.opacity = "1"; // Muestra imagen de apertura
				close.style.opacity = "0"; // Oculta imagen de cierre
				navToggle.classList.add("menu-closed"); // Añade la clase menu-closed a navToggle
			}
		}
	};

	const handleClickOutsideMenu = (event: MouseEvent) => {
		const menu: HTMLElement | null = document.querySelector("#menu");
		const navToggle: HTMLInputElement | null =
			document.querySelector("#nav-toggle");

		if (
			menu &&
			navToggle &&
			!menu.contains(event.target as Node) &&
			!navToggle.contains(event.target as Node)
		) {
			navToggle.checked = false;
			toggleMenu();
		}
	};

	document.addEventListener("DOMContentLoaded", () => {
		const navToggle: HTMLInputElement | null =
			document.querySelector("#nav-toggle");

		if (navToggle) {
			navToggle.addEventListener("change", toggleMenu);
		}

		document.addEventListener("click", handleClickOutsideMenu);
	});
</script>

<style>
	/* Agrega estas clases en tu archivo CSS o en el bloque de estilos */
	.menu-open {
		transform: translateY(0);
		opacity: 1;
		transition: all 0.1s ease-in-out;
		pointer-events: all;
	}

	.menu-closed {
		transform: translateY(
			-20px
		); /* Ajusta el valor según tus necesidades */
		transition: all 0.1s ease-in-out;
		opacity: 0;
		pointer-events: none;
	}
</style>
