---
import open from "../../icons/openNav.svg";
import close from "../../icons/closeNav.svg";
import ThemeIcon from "../ThemeIcon.astro";
import coffeeEmpty from "../../icons/coffeeEmpty.svg";
import coffeeFull from "../../icons/coffeeFull.svg";
import githubBlue from "../../icons/githubBlue.svg";
import githubBlack from "../../icons/githubBlack.svg";
import { Form } from "../Form/Form.jsx";
---

<div
	class="mx-auto right-6 top-6 fixed z-50 text-[--darkblue] hidden md:block"
	id="menu-btn">
	<div
		class="size-9 bg-[--lightblue] transition-all rounded-md group text-[--darkblue]">
		<label for="nav-toggle" class="cursor-pointer group">
			<input
				type="checkbox"
				id="nav-toggle"
				class="cursor-pointer hidden"
			/>
			<img
				src={open.src}
				alt="Open menu"
				id="open"
				class="transition-all absolute group-hover:scale-105 group-active:scale-90"
			/>
			<img
				src={close.src}
				alt="Close menu"
				id="close"
				class="transition-all absolute group-hover:scale-105 group-active:scale-90 scale-100 opacity-0"
			/>
		</label>
	</div>
	<nav
		id="menu"
		class="bg-[--lightblue] rounded-md p-4 rounded-tr-none transition-transform duration-300 menu-closed absolute top-8 right-0 min-w-[245px] w-full z-40 shadow-md">
		<ul class="flex flex-col justify-center items-start w-full h-full">
			<li class="transition-colors group w-full flex items-center m-0">
				<ThemeIcon transition:persist />
			</li>
			<li class="m-0 flex items-start w-full">
				<a
					href="https://github.com/ezestom/aprenderainvertir"
					target="_blank"
					rel="noopener noreferrer"
					class="transition-colors group w-full flex gap-2 hover:bg-[--darkblue] py-2 px-3 rounded-md">
					<span class="group-hover:scale-105 transition duration-300">
						<img
							src={coffeeFull.src}
							alt=""
							class="absolute w-5 opacity-0 group-hover:opacity-100 transition duration-300 drop-shadow-md"
						/>
						<img
							src={coffeeEmpty.src}
							alt=""
							class="w-5 group-hover:scale-110 opacity-100 transition duration-300 drop-shadow-md"
						/>
					</span>
					<span
						class="whitespace-nowrap font-semibold transition-colors text-sm group-hover:text-[--lightblue] w-full"
						>Invitar un Cafecito</span
					>
				</a>
			</li>
			<li class="m-0 flex items-start w-full">
				<a
					href="https://github.com/ezestom/aprenderainvertir"
					target="_blank"
					rel="noopener noreferrer"
					class="transition-colors group w-full flex gap-2 hover:bg-[--darkblue] py-2 px-3 rounded-md">
					<span
						class="group-hover:scale-105 transition duration-300 gap-2 group-hover:drop-shadow-md">
						<img
							src={githubBlack.src}
							alt=""
							class="absolute w-5 opacity-0 group-hover:opacity-100 group-hover:scale-105 transition-all"
						/>
						<img
							src={githubBlue.src}
							alt=""
							class="w-5 group-hover:scale-105 opacity-100 group-hover:opacity-0 transition-all"
						/>
					</span>
					<span
						class="whitespace-nowrap font-semibold transition-colors text-sm group-hover:text-[--lightblue]"
						>Contribuir al Proyecto</span
					>
				</a>
			</li>
			<li class="m-0 flex items-start w-full">
				<Form client:load />
			</li>
		</ul>
	</nav>
</div>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		const navToggle = document.querySelector("#nav-toggle");
		const menu = document.querySelector("#menu");
		const openIcon = document.querySelector("#open");
		const closeIcon = document.querySelector("#close");

		const toggleMenu = () => {
			if (navToggle.checked) {
				menu.classList.remove("menu-closed");
				menu.classList.add("menu-open");
				openIcon.style.opacity = "0";
				closeIcon.style.opacity = "1";
			} else {
				menu.classList.remove("menu-open");
				menu.classList.add("menu-closed");
				openIcon.style.opacity = "1";
				closeIcon.style.opacity = "0";
			}
		};

		// Asegúrate de solo añadir un eventListener a navToggle
		if (navToggle) {
			navToggle.addEventListener("change", toggleMenu);
		}
	});
</script>

<style>
	.menu-open {
		transform: translateY(0);
		opacity: 1;
		transition: all 0.3s ease-in-out;
		pointer-events: all;
	}

	.menu-closed {
		transform: translateY(
			-20px
		); /* Ajusta el valor según tus necesidades */
		opacity: 0;
		transition: all 0.3s ease-in-out;
		pointer-events: none;
	}
</style>
