---
import Layout from "@layouts/Layout.astro";
import finance from "../../icons/finance.svg";
import logoTaller from "../../img/logoTaller.png";
import Tooltip from "./Tooltip.astro";
import linkedin from "../../icons/linkedin.svg";
import discord from "../../icons/discord.svg";

export const NAVBAR = [
	{
		name: "Introducción",
		href: "#introduction",
		info: "✓ ¿Qué es la inversión?\n✓ ¿Por qué deberías considerar invertir?\n✓ La inflación\n✓ Cómo empezar",
	},
	{
		name: "Historia de de la Economía",
		href: "/historia-de-la-economía",
		info: "✓ ¿Qué es la inversión?\n✓ ¿Por qué deberías considerar invertir?\n✓ La inflación\n✓ Cómo empezar",
	},
	{
		name: "La Libertad Financiera",
		href: "/libertad-financiera",
		info: "✓ ¿Qué es la libertad financiera?\n✓ Video Explicativo\n✓ Cómo se Alcanza a Través de las Inversiones\n✓ Conclusión",
	},
	{
		name: "Bolsa de Valores",
		href: "/bolsa-de-valores",
		info: "✓ Funciones de la Bolsa de Valores\n✓ Los mitos\n✓ Tipos de Instrumentos\n✓ Mecanismo de Negociación\n✓ Video Explicativo\n✓ Principales Bolsas del Mundo\n✓ Actores Clave\n✓ Evitar posibles estafas",
	},
	{
		name: "Perfiles del Inversor",
		href: "/perfiles-del-inversor",
		info: "✓ ¿Cómo Identificar Tu Perfil de Inversor?\n✓ Test del Inversor\n✓ Perfiles de Inversor\n✓ Estrategias según tu Perfil de Inversor",
	},
	{
		name: "Renta Fija ó Variable",
		href: "/renta-fija-o-renta-variable",
		info: "✓ Renta Fija\n✓ Video Explicativo\n✓ Ejemplos de Inversión en Renta Fija\n✓ Renta Variable\n✓ Ejemplos de Inversión en Renta Variable\n✓ Conclusión",
	},
	{
		name: "Instrumentos Financieros",
		href: "/instrumentos-financieros",
		info: "✓ Acciones\n✓ CEDEARs\n✓ ETFs\n✓ Fondos Comunes de Inversión (FCI)\n✓ Bonos\n✓ Títulos Públicos\n✓ Opciones Negociables\n✓ Letras del Tesoro (LETES)\n✓ Cauciones Bursátiles\n✓ Opciones\n✓ Futuros Financieros\n✓ Cheques Diferidos\n✓ Fideicomisos Financieros",
	},
	{
		name: "Fondo Común de Inversión",
		href: "/fondo-común-de-inversion",
		info: "✓ Características Principales\n✓ Tipos de FCI\n✓ Características del FCI de Liquidez\n✓ Inversión en Fondos de Liquidez\n✓ Ventajas\n✓ Ejemplo Práctico\n✓ Conclusión",
	},
	{
		name: "Dolar MEP",
		href: "/dolar-mep",
		info: "empty",
	},
	{
		name: "Sectores de la Economía de EE.UU.",
		href: "/sectores-de-la-economía-de-EEUU",
		info: "empty",
	},
	{
		name: "Analisis Técnico",
		href: "/análisis-técnico",
		info: "empty",
	},
	{
		name: "Analisis Fundamental",
		href: "/análisis-fundamental",
		info: "empty",
	},
	{
		name: "Comenzar a Invertir",
		href: "/comenzar-a-invertir",
		info: "empty",
	},
];
---

<Layout title="Nav">
	<nav
		transition:persist
		class="mt-48 pointer-events-none sticky inset-0 z-90 flex-shrink-0 flex-col transition-opacity duration-300 ease-in-out xl:pointer-events-auto xl:bottom-auto xl:left-0 xl:right-auto xl:top-0 xl:z-[9999] xl:h-screen 2xl:left-6 2xl:top-12 2xl:h-[calc(100vh-6rem)] rounded-md xl:block shadow-md -z-10 max-w-[310px] bg-black/5 hidden"
		id="nav">
		<div
			class="relative z-10 flex h-full max-h-full w-full flex-shrink-0 flex-col items-center justify-start rounded-md text-[--darkblue] p-6"
			id="navbar">
			<div class="flex w-full flex-col items-center justify-center">
				<a
					href="/#top"
					id="toNav"
					class="mx-auto block w-full rounded-xl hover:bg-[--lightblue] duration-300 ease-in-out group transition-all"
					><div class="relative flex w-full justify-center py-1">
						<img
							transition:name="finance"
							src={finance.src}
							alt="finance image"
							title="finance image"
							class="block size-[10rem] object-contain
						 group-active:scale-90 group-active:delay-100 group-active:translate-y-1 group-active:translate-x-1"
						/>
					</div>
				</a>
				<div
					class="relative flex max-h-full w-full flex-grow flex-col gap-0.5 py-2 md:left-auto font-normal">
					{
						NAVBAR.map(({ name, href, info }) => (
							<Tooltip name={name} href={href} info={info} />
						))
					}
				</div>
				<ul
					class="relative z-100 mx-auto flex w-full max-w-[16rem] flex-shrink-0 flex-col items-center justify-center gap-3 text-center">
					<li class="contents">
						<a
							class="flex w-full items-center gap-2 rounded-md bg-[--lightblue] px-3 py-2 text-[--darkblue] transition-colors duration-300 ease-in-out hover:bg-[--darkblue] hover:text-[--lightblue]"
							href="https://bullmarketbrokers.com/funds/main/chooseyourfund">
							<!-- linkedin svg -->
							<img src={linkedin.src} alt="" />
							<span class="text-sm font-bold">LinkedIn</span></a
						>
					</li><li class="contents">
						<a
							href="https://discord.gg/MrQdmzd"
							target="_blank"
							rel="noopener noreferrer"
							class="flex w-full items-center gap-2 rounded-md bg-[--lightblue] px-3 py-2 text-[--darkblue] transition-colors duration-300 ease-in-out hover:bg-[--darkblue] hover:text-[--lightblue]"
							>
							<img src={discord.src} alt=""><span class="text-sm font-bold">Discord</span></a
						>
					</li><div
						class="pointer-events-none transition-opacity duration-500 ease-in-out">
						<a
							href="https://home.tallerdeinversiones.com/"
							target="_blank"
							rel="noopener noreferrer"
							class="group pointer-events-auto items-center inline-flex w-full origin-center scale-75 flex-col gap-2 sm:scale-100">
							<span
								class="font-simple text-gray-500 transition-colors
					duration-300 ease-in-out group-hover:text-[--darkblue]">
								sponsored by
							</span>
							<img
								src={logoTaller.src}
								alt="Taller de inversiones"
								class="h-[2.5rem] w-auto object-contain grayscale"
							/>
						</a>
					</div>
				</ul>
			</div>
		</div>
	</nav>
</Layout>
<style>
	#navbar {
		scrollbar-width: none;
	}
</style>
